button {
  margin-top: 24px;
}

.icon-size40 {
  font-size: 40px;
}

.fs60 {
  font-size: 60px;
}

.aprovado {
  color: green;
  font-weight: bold;
}

.reprovado {
  color: red;
  font-weight: bold;
}

.bold {
  color: black;
  font-weight: bold;
}
